/.obj/
/*.o/
/*.o
/asu
/prog_log.txt
/*.log/
/*.txt/
/*.xml/
/qDebug.txt
/log.txt
/html/
/server_log.txt
/xml/
/Debug/Asu
/qDebug2.txt
/Asu.doc.pdf
/TEX_DEBUG/
/Asu.listings.pdf
/mavlinklog.dat
/mavlinkdatalog.dat
/*.txt
/*.log
/*.dat
/frames/


/Debug/
/Release/

/NoMavsdk/
